* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    width: unset;
    height: unset;
}
.menu {
    display: flex;
    position: relative;
    font-family: 'Bahnschrift';
    z-index: 5;
}

.menu .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 30px 0;
    background: #565da0;

}

.menu .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Bahnschrift';
    font-size: 35px;


}

.menu .sidebar ul {
    padding-left: 0px;
}

.menu .sidebar ul li {
    padding: 30px;
}

.menu .sidebar ul li a {
    color: #bdb8d7;
    display: block;
    text-decoration: none;
}

.menu .sidebar ul li a .icons {
    width: 25px;
}

.menu .sidebar ul li:hover {
    background: #404781
}

.user img {
    width: 100px;
    background-color: white;
    border-radius: 49px;
    border: 3px solid #404781
}

.logout {
    margin-bottom: 50px;
}

.wb {
    color: #404781;
    position: absolute;
    width: 450px;
    left: 15em;
    top: 4em;
    font-family: 'Bahnschrift';
}